<!DOCTYPE html>
<html>

<head>

    <title>PyChrono Dashboard</title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <meta http-equiv="refresh" content="3">

</head>

<body class="bg-light">

<div class="container mt-5">

    <h1 class="mb-4">
        🚀 PyChrono Dashboard
    </h1>

    <div class="row">

        <div class="col-md-3">

            <div class="card text-white bg-warning mb-3">

                <div class="card-body">

                    <h5>Pending</h5>

                    <h2>
                        {{ stats.PENDING }}
                    </h2>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card text-white bg-primary mb-3">

                <div class="card-body">

                    <h5>Running</h5>

                    <h2>
                        {{ stats.RUNNING }}
                    </h2>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card text-white bg-success mb-3">

                <div class="card-body">

                    <h5>Completed</h5>

                    <h2>
                        {{ stats.COMPLETED }}
                    </h2>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card text-white bg-danger mb-3">

                <div class="card-body">

                    <h5>Failed</h5>

                    <h2>
                        {{ stats.FAILED }}
                    </h2>

                </div>

            </div>

        </div>

    </div>
    <div class="row mb-3">

    <div class="col-md-6">

        <input
            type="text"
            id="searchInput"
            class="form-control"
            placeholder="Search Job ID or Task..."
            onkeyup="filterTable()">

    </div>

</div>

<div class="mb-3">

    <button class="btn btn-secondary btn-sm"
            onclick="filterStatus('ALL')">
        All
    </button>

    <button class="btn btn-warning btn-sm"
            onclick="filterStatus('PENDING')">
        Pending
    </button>

    <button class="btn btn-info btn-sm"
            onclick="filterStatus('DISPATCHED')">
        Dispatched
    </button>

    <button class="btn btn-primary btn-sm"
            onclick="filterStatus('RUNNING')">
        Running
    </button>

    <button class="btn btn-success btn-sm"
            onclick="filterStatus('COMPLETED')">
        Completed
    </button>

    <button class="btn btn-danger btn-sm"
            onclick="filterStatus('FAILED')">
        Failed
    </button>

</div>

    <div class="card">

        <div class="card-header">

            <h4>
                Jobs
            </h4>

        </div>

        <div class="card-body">

        <table
    id="jobsTable"
    class="table table-striped">

    <thead>

        <tr>

            <th>Job ID</th>

            <th>Task</th>

            <th>Status</th>

            <th>Retries</th>

            <th>Actions</th>

        </tr>

    </thead>

    <tbody>

        {% for job in jobs %}

        <tr data-status="{{ job.status }}">

            <td>

    <a
        href="/jobs/{{ job.id }}/view"
        class="text-decoration-none">

        {{ job.id[:8] }}

    </a>

</td>

            <td>
                {{ job.task }}
            </td>

            <td>

                {% if job.status == "COMPLETED" %}

                <span class="badge bg-success">
                    COMPLETED
                </span>

                {% elif job.status == "FAILED" %}

                <span class="badge bg-danger">
                    FAILED
                </span>

                {% elif job.status == "RUNNING" %}

                <span class="badge bg-primary">
                    RUNNING
                </span>

                {% elif job.status == "RETRYING" %}

                <span class="badge bg-warning">
                    RETRYING
                </span>

                {% elif job.status == "DISPATCHED" %}

                <span class="badge bg-info">
                    DISPATCHED
                </span>

                {% else %}

                <span class="badge bg-secondary">
                    {{ job.status }}
                </span>

                {% endif %}

            </td>

            <td>
    {{ job.retries }}
</td>

<td>

{% if job.status == "FAILED" %}

<form
    method="POST"
    action="/jobs/{{ job.id }}/retry">

    <button
        class="btn btn-danger btn-sm">

        Retry

    </button>

</form>

{% else %}

-

{% endif %}

</td>

        </tr>

        {% endfor %}

    </tbody>

</table>

        </div>

    </div>

</div>
<script>

function filterTable() {

    let input =
        document.getElementById(
            "searchInput"
        );

    let filter =
        input.value.toLowerCase();

    let rows =
        document.querySelectorAll(
            "#jobsTable tbody tr"
        );

    rows.forEach(row => {

        let text =
            row.textContent.toLowerCase();

        row.style.display =
            text.includes(filter)
            ? ""
            : "none";
    });
}

function filterStatus(status) {

    let rows =
        document.querySelectorAll(
            "#jobsTable tbody tr"
        );

    rows.forEach(row => {

        let rowStatus =
            row.dataset.status;

        if (
            status === "ALL" ||
            rowStatus === status
        ) {

            row.style.display = "";

        } else {

            row.style.display = "none";

        }
    });
}

</script>
</body>

</html>